* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     
  }
 body{
  background-color: azure;
 }
  
.card-body ul li{
  color:black;
}
.card-header{
  color:white
}
.card-title{
  color: black;
}
